<!--<button type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#exampleModal"-->
<!--        (click)="replirCin()">-->
<!--  <i class="bi bi-pencil-square"></i>-->
<!--</button>-->


<!--<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">-->
<!--  <div class="modal-dialog">-->
<!--    <div class="modal-content custom-modal">-->
<!--      <div class="modal-header bg-primary text-white">-->
<!--        <h5 class="modal-title" id="exampleModalLabel">Ajouter un élément</h5>-->
<!--        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
<!--      </div>-->
<!--      <div class="modal-body">-->
<!--        <div class="p-3">-->
<!--          <div class="card">-->
<!--            <div class="card-body">-->
<!--              <div class="col-md-6">-->
<!--                <form (ngSubmit)="onSubmit()" >-->
<!--                  <div class="mb-3">-->
<!--                    <label class="form-label">adresse</label>-->
<!--                    <input class="form-control" [(ngModel)]="editAppartmentNew.adresse" [ngModelOptions]="{standalone: true}" [value]="appartemetService.editAppartemetExiste.adresse">-->
<!--                  </div>-->
<!--                  <div class="mb-3">-->
<!--                    <label class="form-label">superficie</label>-->
<!--                    <input class="form-control" [(ngModel)]="editAppartmentNew.superficie" [ngModelOptions]="{standalone: true}" [value]="appartemetService.editAppartemetExiste.superficie">-->
<!--                  </div>-->
<!--                  <div class="mb-3">-->
<!--                    <label class="form-label">loyerMensuel</label>-->
<!--                    <input class="form-control" [(ngModel)]="editAppartmentNew.loyerMensuel" [ngModelOptions]="{standalone: true}" [value]="appartemetService.editAppartemetExiste.loyerMensuel">-->
<!--                  </div>-->
<!--                  &lt;!&ndash;                  <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"   [(ngModel)]="selectedProp" [ngModelOptions]="{standalone: true}">&ndash;&gt;-->
<!--                  &lt;!&ndash;                    <option *ngFor="let option of propString" [value]="option">{{ option }}</option>&ndash;&gt;-->
<!--                  &lt;!&ndash;                  </select>&ndash;&gt;-->

<!--                  &lt;!&ndash;                  <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" [(ngModel)]="selectedCategory" [ngModelOptions]="{standalone: true}" >&ndash;&gt;-->
<!--                  &lt;!&ndash;                    <option *ngFor="let option of categoriesString" [value]="option">{{ option }}</option>&ndash;&gt;-->
<!--                  &lt;!&ndash;                  </select>&ndash;&gt;-->
<!--                  <button class="btn btn-outline-danger" type="submit"  >Save</button>-->
<!--                </form>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->



