<div class="container bg-light d-md-flex align-items-center">
  <div class="card box1 shadow-sm p-md-5 p-md-5 p-4">
    <div class="d-flex flex-column">
      <div class="d-flex align-items-center justify-content-between text mb-4">
        <div class="total">
          <span>Total</span>
          <span class="fas fa-dollar-sign"><span class="ps-1">{{total}}</span></span> </div>
      </div>

      <div class="border-bottom mb-4"></div>

    </div>
  </div>
  <div class="card box2 shadow-sm">
    <div class="d-flex align-items-center justify-content-between p-md-5 p-4">
      <span class="h5 fw-bold m-0">Payment</span>
      <div class="btn btn-primary bar"><span class="fas fa-bars"></span></div>
    </div>
    <div id="paypal-button-container"></div>


  </div>
</div>
