
<div class="container mt-5">

  <mat-card>
    <mat-card-header><mat-card-title> CRUD Facteur </mat-card-title> </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>

      <p-toolbar [ngStyle]="{'margin': '2rem'}" class="custom-toolbar" >
        <div class="p-toolbar-group-left">
          <p-button  type="button"  (click)="showDialog()" class="mx-2 " label="New" icon="pi pi-plus"></p-button>
          <p-button (click)="exportToPDF()" label="Exporte" icon="pi pi-file-export" styleClass="p-button-success"></p-button>
        </div>

        <div class="p-toolbar-group-right">
          <div class="container d-flex" >
            <input type="text" name="" placeholder="Search..." (input)="search($event)">
            <div class="search"></div>
          </div>
        </div>
        <!--        <div class="p-toolbar-group-right">-->

        <!--          <mat-form-field appearance="outline">-->
        <!--            <mat-label>Search</mat-label>-->
        <!--            <input matInput (change)="search($event)">-->
        <!--          </mat-form-field>-->
        <!--        </div>-->

      </p-toolbar>

      <table id="content" matSort mat-table [dataSource]="dataSource" class="mat-elevation-z1 ">

        <ng-container matColumnDef="ref"> <!-- Utilisation de 'id' au lieu de 'Id' -->
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Ref </th>
          <td mat-cell *matCellDef="let element"> {{element.ref}} </td>
        </ng-container>

        <ng-container matColumnDef="dateFacture">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Date Facture </th>
          <td mat-cell *matCellDef="let element"> {{element.dateFacture}} </td>
        </ng-container>

        <ng-container matColumnDef="TVA">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>TVA </th>
          <td mat-cell *matCellDef="let element"> {{element.tva}} </td>
        </ng-container>

        <ng-container matColumnDef="montantTotal">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Montant Total </th>
          <td mat-cell *matCellDef="let element"> {{element.montantTotal}} </td>
        </ng-container>

        <ng-container matColumnDef="location">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Ref Location </th>
          <td mat-cell *matCellDef="let element"> {{element.location.ref}} </td>
        </ng-container>

        <!--        <ng-container matColumnDef="paiementDto">-->
        <!--          <th mat-header-cell *matHeaderCellDef mat-sort-header>Ref Paiement</th>-->
        <!--          <td mat-cell *matCellDef="let element"> {{element.paiementDto.ref}} </td>-->
        <!--        </ng-container>-->


        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef >Action</th>
          <td mat-cell *matCellDef="let element" >
            <a  (click)=showUpdate(element.ref)><i class="bi bi-pencil mx-2 btn btn-outline-success rounded-5"></i></a>
            <a><i (click)="handlDelete(element.ref)" class="bi bi-trash mx-2 btn btn-outline-danger rounded-5"></i></a>
          </td>
        </ng-container>



        <tr mat-header-row *matHeaderRowDef="ListeColum"></tr>
        <tr mat-row *matRowDef="let row; columns: ListeColum;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                     showFirstLastButtons
                     aria-label="Select page of periodic elements">
      </mat-paginator>

    </mat-card-content>
  </mat-card>

</div>




<p-dialog [(visible)]="display"  [style]="{width: '600px',height:'600px'}" [header]="displaySave?'Save Facteur':'Update Facteur'" [modal]="true" styleClass="p-fluid">



  <!--  SaveContrat-->
  <div *ngIf="this.displaySave" >
    <div class="field col">
      <label class="form-label">Ref</label>
      <input class="form-control" type="text" pInputText id="name" [(ngModel)]="item.ref" required autofocus/>
    </div>

    <div class="field col">
      <label class="form-label">Montant Total</label>
      <input class="form-control" type="number" pInputText id="name1" [(ngModel)]="item.montantTotal" required autofocus/>
    </div>

    <div class="field col">
      <label class="form-label">Date Facture</label>
      <input class="form-control" type="datetime-local" pInputText id="name2" [(ngModel)]="item.dateFacture" required autofocus/>
    </div>

    <div class="field col">
      <label class="form-label">Ref Location</label>
      <input class="form-control" type="text" pInputText id="name3" [(ngModel)]="item.location.ref" required autofocus/>
    </div>

    <!--    <div class="field col">-->
    <!--      <label class="form-label">Ref Paiement</label>-->
    <!--      <input class="form-control" type="number" pInputText id="name6" [(ngModel)]="item.paiementDto.ref" required autofocus/>-->
    <!--    </div>-->

  </div>


  <!--  UpdateContrat-->

  <div *ngIf="this.displayUpdate" >
    <div class="field col">
      <label class="form-label">Ref</label>
      <input class="form-control" type="text" pInputText id="name11" [(ngModel)]="contrat.ref" required autofocus/>
    </div>

    <div class="field col">
      <label class="form-label">Montant Total</label>
      <input class="form-control" type="number" pInputText id="name12" [(ngModel)]="contrat.montantTotal" required autofocus/>
    </div>

    <div class="field col">
      <label class="form-label">Date Facture</label>
      <input class="form-control" type="datetime-local" pInputText id="name22" [(ngModel)]="contrat.dateFacture" required autofocus/>
    </div>

    <div class="field col">
      <label class="form-label">Ref Location</label>
      <input class="form-control" type="text" pInputText id="name13" [(ngModel)]="contrat.location.ref" required autofocus/>
    </div>

    <!--    <div class="field col">-->
    <!--      <label class="form-label">Ref Paiement</label>-->
    <!--      <input class="form-control" type="number" pInputText id="name16" [(ngModel)]="contrat.paiementDto.ref" required autofocus/>-->
    <!--    </div>-->

  </div>

  <ng-template pTemplate="footer">
    <span *ngIf="this.displaySave" >
      <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()" ></button>
    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveObject()"></button>
    </span>
    <span *ngIf="this.displayUpdate">
      <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()" ></button>
      <button pButton pRipple label="Update" icon="pi pi-check" class="p-button-text" (click)="update()"></button>
    </span>
  </ng-template>
</p-dialog>











<!--<p-dialog [(visible)]="display" [style]="{width: '600px',height:'600px'}" header="Product Details" [modal]="true" styleClass="p-fluid">-->

<!--  <div class="field col">-->
<!--    <label class="form-label">Ref</label>-->
<!--    <input class="form-control" type="text" pInputText id="name" [(ngModel)]="item.ref" required autofocus/>-->
<!--  </div>-->

<!--  <div class="field col">-->
<!--    <label class="form-label">Montant Total</label>-->
<!--    <input class="form-control" type="number" pInputText id="name1" [(ngModel)]="item.montantTotal" required autofocus/>-->
<!--  </div>-->

<!--  <div class="field col">-->
<!--    <label class="form-label">Date Facture</label>-->
<!--    <input class="form-control" type="date" pInputText id="name2" [(ngModel)]="item.dateFacture" required autofocus/>-->
<!--  </div>-->

<!--  <div class="field col">-->
<!--    <label class="form-label">Ref Location</label>-->
<!--    <input class="form-control" type="text" pInputText id="name3" [(ngModel)]="item.location.ref" required autofocus/>-->
<!--  </div>-->

<!--&lt;!&ndash;  <div class="field col">&ndash;&gt;-->
<!--&lt;!&ndash;    <label class="form-label">Ref Paiement</label>&ndash;&gt;-->
<!--&lt;!&ndash;    <input class="form-control" type="text" pInputText id="name6" [(ngModel)]="item.paiementDto" required autofocus/>&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->

<!--  <ng-template pTemplate="footer">-->
<!--    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()" ></button>-->
<!--    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveObject()"></button>-->
<!--  </ng-template>-->
<!--</p-dialog>-->






