
<!--<div class="container ">-->
<!--  <div class="carousel">-->
<!--    <div class="list">-->
<!--      <div class="item">-->
<!--        <img src="assets/photo/image/voiture.jpg">-->
<!--        <div class="content">-->
<!--          <div class="author">Cars</div>-->
<!--          <div class="title">BMW</div>-->
<!--          <div class="topic">Sport</div>-->
<!--          <div class="des">-->
<!--            <ul>-->
<!--              <li>Type de boîte de vitesse : Automatique</li>-->
<!--              <li> Année :2020</li>-->
<!--              <li>Puissance :120</li>-->
<!--              <li> Prix :200$</li>-->
<!--            </ul>-->
<!--            <div class="buttons">-->
<!--              <button (click)="RedirectToFacture()"  class="btn btn-outline-primary p-3">Reserver</button>-->
<!--            </div>-->
<!--          </div>-->

<!--        </div>-->
<!--      </div>-->
<!--      <div class="item">-->
<!--        <img src="assets/pexels-lynxexotics-3752194.jpg">-->
<!--        <div class="content">-->
<!--          <div class="author">Cars</div>-->
<!--          <div class="title">BMW</div>-->
<!--          <div class="topic">Sport</div>-->
<!--          <div class="des">-->
<!--            <ul>-->
<!--              <li>Type de boîte de vitesse : Automatique</li>-->
<!--              <li> Année :2020</li>-->
<!--              <li>Puissance :120</li>-->
<!--              <li> Prix :200$</li>-->
<!--            </ul>-->
<!--            <div class="buttons">-->
<!--              <button (click)="RedirectToFacture()" class="btn btn-outline-primary p-3">Reserver</button>-->
<!--            </div>-->
<!--          </div>-->

<!--        </div>-->
<!--      </div>-->
<!--      <div class="item">-->
<!--        <img src="assets/pexels-mayday-1545743.jpg">-->
<!--        <div class="content">-->
<!--          <div class="author">Cars</div>-->
<!--          <div class="title">BMW</div>-->
<!--          <div class="topic">Sport</div>-->
<!--          <div class="des">-->
<!--            <ul>-->
<!--              <li>Type de boîte de vitesse : Automatique</li>-->
<!--              <li> Année :2020</li>-->
<!--              <li>Puissance :120</li>-->
<!--              <li> Prix :200$</li>-->
<!--            </ul>-->
<!--            <div class="buttons">-->
<!--              <button (click)="RedirectToFacture()"  class="btn btn-outline-primary p-3">Reserver</button>-->
<!--            </div>-->
<!--          </div>-->

<!--        </div>-->
<!--      </div>-->
<!--      <div class="item">-->
<!--        <img src="assets/pexels-prime-cinematics-1005175-2036544.jpg">-->
<!--        <div class="content">-->
<!--          <div class="author">Cars</div>-->
<!--          <div class="title">BMW</div>-->
<!--          <div class="topic">Sport</div>-->
<!--          <div class="des">-->
<!--            <ul>-->
<!--              <li>Type de boîte de vitesse : Automatique</li>-->
<!--              <li> Année :2020</li>-->
<!--              <li>Puissance :120</li>-->
<!--              <li> Prix :200$</li>-->
<!--            </ul>-->
<!--            <div class="buttons">-->
<!--              <button (click)="RedirectToFacture()"  class="btn btn-outline-primary p-3">Reserver</button>-->
<!--            </div>-->
<!--          </div>-->

<!--        </div>-->
<!--      </div>-->

<!--    </div>-->
<!--    <div class="thumbnail">-->
<!--      <div class="item">-->
<!--        <img src="assets/photo/image/voiture.jpg">-->
<!--        <div class="content">-->
<!--          <div class="title">-->
<!--            BMW-->
<!--          </div>-->
<!--          <div class="description">-->
<!--            Sport-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="item">-->
<!--        <img src="assets/pexels-lynxexotics-3752194.jpg">-->
<!--        <div class="content">-->
<!--          <div class="title">-->
<!--            BMW-->
<!--          </div>-->
<!--          <div class="description">-->
<!--            sport-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="item">-->
<!--        <img src="assets/pexels-mayday-1545743.jpg">-->
<!--        <div class="content">-->
<!--          <div class="title">-->
<!--            BMW-->
<!--          </div>-->
<!--          <div class="description">-->
<!--            Description-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="item">-->
<!--        <img src="assets/pexels-prime-cinematics-1005175-2036544.jpg">-->
<!--        <div class="content">-->
<!--          <div class="title">-->
<!--            BMW-->
<!--          </div>-->
<!--          <div class="description">-->
<!--            Description-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->


<!--      <div class="arrows">-->
<!--        <button id="prev"><</button>-->
<!--        <button id="next">></button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

<!--</div>-->


<div class="container" style="width: 100rem;text-align: center;margin-left: -3rem;" >
  <div class="slider-wrapper" style="color :black">
    <h1 class="mx-4" style="
    padding-left: 4rem;
    font-family: none;
    font-size: 27px;
    position: absolute;
    top: -4rem;
    left: 2rem;" >{{ 'Recommended cars for you'|translate}}</h1>
    <ul class="image-list"  style=" width: 110rem;margin-left:5rem;display: grid;grid-template-columns: repeat({{datVoiture.length}}, 1fr);gap: 18px;" >
      <div *ngFor="let item of datVoiture; let i=index"  class="card" style="width: 18rem;">
        <div routerLink="/reservationInformation/{{item.matricule}}">
          <img [src]="returnUrl(item)" class="card-img-top" alt="...">
          <div class="card-bodye" style="color :black">
            <ul style="list-style: none">
              <li style="font-size:22px;font-family: revert;">{{ item.nomModele }}</li>
              <li style="font-size:11px;font-family: cursive;"> voiture {{item.categorie.libelle}} </li>
              <li style="background-color: cornflowerblue; border-radius: 20px; text-align: center; margin: 8px;
            font-family: cursive;"><i class="bi bi-credit-card-fill"></i> prix: {{item.prix}}$</li>
            </ul>
          </div>
        </div>
      </div>
    </ul>
  </div>
</div>






<div class="conteneur" style="background-image: url('../../../assets/blue-gradient-abstract-background-empty-room-with-space-your-text-picture.jpg');     width: 110rem;margin-left: 3rem;">
  <div class="slider-wrapper">
    <h1 class="titre">Discover your new favorite Appartment</h1>
    <ul class="image-list" style="width: 105rem;   display: grid;grid-template-columns: repeat({{allAppartement.length}}, 1fr);">
      <div class="card" style="width: 18rem;margin-left: 25px;margin-right: 25px" *ngFor="let appartemmet of allAppartement" routerLink="/facteurApparetement/{{appartemmet.code}}">
        <img [src]="appartemmet.imagePaths[0]" class="card-img-top" alt="...">
        <div class="card-body">
          <ul style="list-style: none" >
            <li style="font-size:22px;font-family: revert;">{{appartemmet.categoriesAppartementDto.libelle}}</li>
            <li style="font-size:11px;font-family: cursive;">{{appartemmet.adresse}}, Appartement 5A,
              75001,{{appartemmet.ville }},Maroc</li>
            <li style="background-color: cornflowerblue; border-radius: 20px; text-align: center; margin: 8px;
            font-family: cursive;"><i class="bi bi-credit-card-fill"></i> price: {{appartemmet.loyerMensuel}}DH</li>
          </ul>
        </div>
      </div>

<!--      <div class="card" style="width: 18rem;">-->
<!--        <img src="assets/photo/appartement/pexels-fotoaibe-1643384.jpg"  class="card-img-top" alt="...">-->
<!--        <div class="card-body">-->
<!--          <ul style="list-style: none">-->
<!--            <li style="font-size:22px;font-family: revert;">Appartement de luxe</li>-->
<!--            <li style="font-size:11px;font-family: cursive;">123 Rue de XX,-->
<!--              2e étage, Appartement 5A,-->
<!--              75001,Rabat,Maroc</li>-->
<!--            <li style="background-color: cornflowerblue; border-radius: 20px; text-align: center; margin: 8px;-->
<!--            font-family: cursive;"><i class="bi bi-credit-card-fill"></i> price: 120$</li>-->
<!--          </ul>-->
<!--        </div>-->
<!--      </div>-->


<!--      <div class="card" style="width: 18rem;">-->
<!--        <img src="assets/photo/appartement/pexels-fotoaibe-1668860.jpg"  class="card-img-top" alt="...">-->
<!--        <div class="card-body">-->
<!--          <ul style="list-style: none">-->
<!--            <li style="font-size:22px;font-family: revert;">Appartement de luxe</li>-->
<!--            <li style="font-size:11px;font-family: cursive;">123 Rue de XX,-->
<!--              2e étage, Appartement 5A,-->
<!--              75001,Rabat,Maroc</li>-->
<!--            <li style="background-color: cornflowerblue; border-radius: 20px; text-align: center; margin: 8px;-->
<!--            font-family: cursive;"><i class="bi bi-credit-card-fill"></i> price: 120$</li>-->
<!--          </ul>-->

<!--        </div>-->
<!--      </div>-->


<!--      <div class="card" style="width: 18rem;">-->
<!--        <img src="assets/photo/appartement/pexels-chaitaastic-1918291.jpg"  class="card-img-top" alt="...">-->
<!--        <div class="card-body">-->
<!--          <ul style="list-style: none">-->
<!--            <li style="font-size:22px;font-family: revert;">Appartement de luxe</li>-->
<!--            <li style="font-size:11px;font-family: cursive;">123 Rue de XX,-->
<!--              2e étage, Appartement 5A,-->
<!--              75001,Rabat,Maroc</li>-->
<!--            <li style="background-color: cornflowerblue; border-radius: 20px; text-align: center; margin: 8px;-->
<!--            font-family: cursive;"><i class="bi bi-credit-card-fill"></i> price: 120$</li>-->
<!--          </ul>-->
<!--        </div>-->
<!--      </div>-->


<!--      <div class="card" style="width: 18rem;">-->
<!--        <img src="assets/pexels-prime-cinematics-1005175-2036544.jpg" class="card-img-top" alt="...">-->
<!--        <div class="card-body">-->
<!--          <ul style="list-style: none">-->
<!--            <li style="font-size:22px;font-family: revert;">Appartement de luxe</li>-->
<!--            <li style="font-size:11px;font-family: cursive;">123 Rue de XX,-->
<!--              2e étage, Appartement 5A,-->
<!--              75001,Rabat,Maroc</li>-->
<!--            <li style="background-color: cornflowerblue; border-radius: 20px; text-align: center; margin: 8px;-->
<!--            font-family: cursive;"><i class="bi bi-credit-card-fill"></i> price: 120$</li>-->
<!--          </ul>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="card" style="width: 18rem;">-->
<!--        <img src="assets/pexels-prime-cinematics-1005175-2036544.jpg" class="card-img-top" alt="...">-->
<!--        <div class="card-body">-->
<!--          <ul style="list-style: none">-->
<!--            <li style="font-size:22px;font-family: revert;">Appartement de luxe</li>-->
<!--            <li style="font-size:11px;font-family: cursive;">123 Rue de XX,-->
<!--              2e étage, Appartement 5A,-->
<!--              75001,Rabat,Maroc</li>-->
<!--            <li style="background-color: cornflowerblue; border-radius: 20px; text-align: center; margin: 8px;-->
<!--            font-family: cursive;"><i class="bi bi-credit-card-fill"></i> price: 120$</li>-->
<!--          </ul>-->
<!--        </div>-->
<!--      </div>-->

<!--      <div class="card" style="width: 18rem;">-->
<!--        <img src="assets/pexels-prime-cinematics-1005175-2036544.jpg" class="card-img-top" alt="...">-->
<!--        <div class="card-body">-->
<!--          <ul style="list-style: none">-->
<!--            <li style="font-size:22px;font-family: revert;">Appartement de luxe</li>-->
<!--            <li style="font-size:11px;font-family: cursive;">123 Rue de XX,-->
<!--              2e étage, Appartement 5A,-->
<!--              75001,Rabat,Maroc</li>-->
<!--            <li style="background-color: cornflowerblue; border-radius: 20px; text-align: center; margin: 8px;-->
<!--            font-family: cursive;"><i class="bi bi-credit-card-fill"></i> price: 120$</li>-->
<!--          </ul>-->
<!--        </div>-->
<!--      </div>-->

    </ul>
  </div>

</div>



