
<div class="container">
  <div class="slider-wrapper">
    <h1 class="titre">Discover your new favorite Appartment</h1>


    <ul class="image-list"  style="width: 86rem; margin-left: -5rem;">

      <div class="card" style="width: 18rem;">
        <img src="assets/photo/appartement/pexels-chaitaastic-1918291.jpg" class="card-img-top" alt="..." (click)="RedirectToFacture()">
      </div>

      <div class="card" style="width: 18rem;">
        <img src="assets/photo/appartement/pexels-fotoaibe-1643384.jpg"  class="card-img-top" alt="..." (click)="RedirectToFacture()">

      </div>

      <div class="card" style="width: 18rem;">
        <img src="assets/photo/appartement/pexels-fotoaibe-1668860.jpg"  class="card-img-top" alt="..." (click)="RedirectToFacture()">
      </div>
      <div class="card" style="width: 18rem;">
        <img src="assets/photo/appartement/pexels-chaitaastic-1918291.jpg"  class="card-img-top" alt="..." (click)="RedirectToFacture()">
      </div>
      <div class="card" style="width: 18rem;">
        <img src="assets/pexels-prime-cinematics-1005175-2036544.jpg" class="card-img-top" alt="..." (click)="RedirectToFacture()">

      </div>

      <div class="card" style="width: 18rem;">
        <img src="assets/photo/appartement/pexels-chaitaastic-1918291.jpg" class="card-img-top" alt="..." (click)="RedirectToFacture()">

      </div>

      <div class="card" style="width: 18rem;">
        <img src="assets/photo/appartement/pexels-fotoaibe-1668860.jpg" class="card-img-top" alt="...">

      </div>

    </ul>
  </div>
</div>
