
<body>
<div class="contract">
  <img src="bima.gif" alt="Logo de l'agence" class="logo">
  <h1>Contrat de Location d'Appartement</h1>
  <div class="info">
    <h2>Informations sur le locataire</h2>
    <ul>
      <li><strong>Nom et prénom du locataire:</strong> [Nom et prénom]</li>
      <li><strong>Adresse du locataire:</strong> [Adresse du locataire]</li>
      <li><strong>Profession et revenus du locataire:</strong> [Profession et revenus]</li>
      <li><strong>Durée de la location:</strong> [Durée de la location]</li>
    </ul>
  </div>
  <div class="info">
    <h2>Informations sur le bien</h2>
    <ul>
      <li><strong>Description du bien:</strong> [Description du bien]</li>
      <li><strong>Adresse du bien:</strong> [Adresse du bien]</li>
      <li><strong>Surface et capacité du bien:</strong> [Surface et capacité]</li>
      <li><strong>État des lieux:</strong> [État des lieux]</li>
    </ul>
  </div>

  <div class="rental-info">
    <h2>Informations de Location:</h2>
    <table class="cost-table">
      <tr>
        <td>Prix</td>
        <td>Jours</td>
        <td>Coût Total</td>
      </tr>
      <tr>
        <td>$200</td>
        <td>7</td>
        <td>$1400</td>
      </tr>
    </table>
  </div>
  <article>
    <h3>Article 1: Responsabilité</h3>
    <ul>
      <li><strong>Responsabilité du locataire:</strong> [Responsabilité du locataire]</li>
      <li><strong>Responsabilité du bailleur:</strong> [Responsabilité du bailleur]</li>
      <li><u><strong>Remarque </strong></u>: En cas de retard de +2h ,automatiquement nous ajoutons Le prix d'un jour à le Total  </li>

    </ul>
  </article>
  <article>
    <h3>Article 2: Résiliation du contrat</h3>
    <ul>
      <li><strong>Conditions de résiliation du contrat:</strong> [Conditions de résiliation]</li>
      <li><strong>Conséquences de la résiliation du contrat:</strong> [Conséquences de la résiliation]</li>
    </ul>
  </article>
  <article>
    <h3>Article 3: Dépôt de garantie</h3>
    <ul>
      <li><strong>Montant du dépôt de garantie:</strong> [Montant du dépôt]</li>
      <li><strong>Modalités de restitution du dépôt de garantie:</strong> [Restitution du dépôt]</li>
    </ul>
  </article>
  <article>
    <h3>Article 4: Conformité au code du tourisme</h3>
    <ul>
      <li><strong>Conformité du contrat à la loi sur le tourisme:</strong> [Conformité au code du tourisme]</li>
    </ul>
  </article>
  <h2>Signature et date</h2>
  <p>En signant ci-dessous, les parties reconnaissent avoir lu et accepté les termes et conditions de ce contrat de location.</p>
  <div class="signature">
    <p>Signature du propriétaire: ________________________</p>
    <p>Signature du locataire: ________________________</p>
  </div>
  <p>Date de signature du contrat: [Date de signature]</p>
</div>
</body>
