<!--<div class="container d-flex mt-5">-->
<!--  <div class="row" *ngIf="appartemetsByCategories">-->
<!--    <div class="col-12" *ngFor="let app of appartemetsByCategories">-->
<!--      <div class="card border-primary mb-3" style="max-width: 1000px;">-->
<!--        <div class="row g-0">-->
<!--          <div class="col-md-5">-->
<!--            <img src="assets/photo/téléchargement.jpeg" class="card-img-top" alt="...">-->
<!--          </div>-->
<!--          <div class="col-md-7">-->
<!--            <div class="card-body">-->
<!--              <h5 class="card-title">{{app.propAppartemenetDto.nom}} {{app.propAppartemenetDto.prenom}}</h5>-->
<!--              <span><i class="bi bi-star-fill text-primary text-primary "></i> <i class="bi bi-star-fill text-primary"></i> <i class="bi bi-star-fill text-primary"></i> <i class="bi bi-star-fill text-primary"></i><i class="bi bi-star-half text-primary"></i></span>-->
<!--              <p class="card-text">Numéro de téléphone: {{app.propAppartemenetDto.numTele}}</p>-->
<!--              <p class="card-text">Détails de l'appartement:</p>-->
<!--              <ul class="list-group list-group-flush">-->
<!--                <li class="list-group-item">Surface: {{app.superficie}} m²</li>-->
<!--                <li class="list-group-item">Nombre de chambres: {{app.code}}</li>-->
<!--                <li class="list-group-item">Localisation: {{app.adresse}}</li>-->
<!--              </ul>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <hr class="bi-hdd-rack-fill">-->

<!--    </div>-->
<!--  </div>-->
<!--  <div class="row" *ngIf="appartemetsByCin">-->
<!--    <div class="col-12" *ngFor="let app of appartemetsByCin">-->
<!--      <div class="card border-primary mb-3" style="max-width: 1000px;">-->
<!--        <div class="row g-0">-->
<!--          <div class="col-md-5">-->
<!--            <img src="../../../../assets/photo/téléchargement.jpeg" class="card-img-top" alt="...">-->
<!--          </div>-->
<!--          <div class="col-md-7">-->
<!--            <div class="card-body">-->
<!--              <h5 class="card-title">{{app.propAppartemenetDto.nom}} {{app.propAppartemenetDto.prenom}}</h5>-->
<!--              <span><i class="bi bi-star-fill text-primary text-primary "></i> <i class="bi bi-star-fill text-primary"></i> <i class="bi bi-star-fill text-primary"></i> <i class="bi bi-star-fill text-primary"></i><i class="bi bi-star-half text-primary"></i></span>-->
<!--              <p class="card-text">Numéro de téléphone: {{app.propAppartemenetDto.numTele}}</p>-->
<!--              <p class="card-text">Détails de l'appartement:</p>-->
<!--              <ul class="list-group list-group-flush">-->
<!--                <li class="list-group-item">Surface: {{app.superficie}} m²</li>-->
<!--                <li class="list-group-item">Nombre de chambres: {{app.code}}</li>-->
<!--                <li class="list-group-item">Localisation: {{app.adresse}}</li>-->
<!--              </ul>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->



<!--      <hr class="bi-hdd-rack-fill">-->

<!--    </div>-->
<!--  </div>-->
<!--</div>-->


