
<div class="container mt-5">

  <mat-card>
    <mat-card-header><mat-card-title> CRUD VOITURE </mat-card-title> </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>

      <p-toolbar [ngStyle]="{'margin': '2rem'}" class="custom-toolbar" >
        <div class="p-toolbar-group-left">
            <p-button  type="button"  (click)="showDialog()" class="mx-2 " label="New" icon="pi pi-plus"></p-button>
            <p-button (click)="exportToPDF()" label="Exporte" icon="pi pi-file-export" styleClass="p-button-success"></p-button>
        </div>

        <div class="p-toolbar-group-right">

            <mat-form-field appearance="outline">
              <mat-label>Search</mat-label>
              <input matInput (change)="search($event)">
            </mat-form-field>
        </div>

      </p-toolbar>

        <table id="content" matSort mat-table [dataSource]="dataSource" class="mat-elevation-z1 ">

      <ng-container matColumnDef="id"> <!-- Utilisation de 'id' au lieu de 'Id' -->
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Id </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="model"> <!-- Utilisation de 'model' au lieu de 'Model' -->
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Model </th>
        <td mat-cell *matCellDef="let element"> {{element.model}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="matricule"> <!-- Utilisation de 'matricule' au lieu de 'Matricule' -->
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Matricule </th>
        <td mat-cell *matCellDef="let element"> {{element.matricule}} </td>
      </ng-container>
        <ng-container matColumnDef="action"> <!-- Utilisation de 'matricule' au lieu de 'Matricule' -->
        <th mat-header-cell *matHeaderCellDef >  </th>
        <td mat-cell *matCellDef="let element">
         <a  (click)=editProduct(element)><i class="bi bi-pencil mx-2 btn btn-outline-success rounded-5"></i></a>
          <a><i class="bi bi-trash mx-2 btn btn-outline-danger rounded-5"></i></a>
        </td>




      </ng-container>



      <tr mat-header-row *matHeaderRowDef="ListeColum"></tr>
      <tr mat-row *matRowDef="let row; columns: ListeColum;"></tr>
    </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                     showFirstLastButtons
                     aria-label="Select page of periodic elements">
      </mat-paginator>

    </mat-card-content>
  </mat-card>

</div>


<p-dialog [(visible)]="display" [style]="{width: '600px',height:'600px'}" header="Product Details" [modal]="true" styleClass="p-fluid">
    <div class="row">
      <div class="col-6">
        <label>prenom</label>
        <input class="form-control" type="text" pTooltip="Enter your username" tooltipPosition="top" tooltipEvent="focus">
      </div>
      <div class="col-6">
        <label>prenom</label>
        <input class="form-control" type="text" pTooltip="Enter your username" tooltipPosition="top" tooltipEvent="focus">
      </div>
    </div>

  <div class="row">
    <div class="col-6">
      <label>prenom</label>
      <input class="form-control" type="text" pTooltip="Enter your username" tooltipPosition="top" tooltipEvent="focus">
    </div>
    <div class="col-6">
      <label>prenom</label>
      <input class="form-control" type="text" pTooltip="Enter your username" tooltipPosition="top" tooltipEvent="focus">
    </div>
  </div>
  <div class="field">
    <label >Inventory Status</label>

  </div>
  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()" ></button>
    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveObject()"></button>
  </ng-template>
</p-dialog>



-
