<div class="container mt-5">


<!--  <div class="notification" [ngClass]="{ 'show': _ok }">-->
<!--    <i class="bi bi-bell-fill"></i>Propriétaire enregistré avec succès<i class="bi bi-bell-fill"></i>-->
<!--  </div>-->

  <div class="card" style="width: 100%">
    <h5 class="card-header">Propriétaire
      <button type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <i class="bi bi-plus-square custom-icon"></i> Ajouter
      </button>
    </h5>
    <div class="card-body">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>id</th>
          <th>iceAgApp</th>
          <th>raisonSocialAg</th>
          <th>numTele</th>
          <th>Email</th>
          <th>adresse</th>
          <th>numCompteBkAgApp</th>
          <th>ribAgenceApp</th>
          <th>RCAgApp</th> <!-- Correction du nom de la colonne -->
          <th>username</th> <!-- Correction du nom de la colonne -->
          <th>Actions</th> <!-- Nouvelle colonne pour les actions -->
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let ez of items; let i = index">
          <td>{{ez.iceAgApp}}</td>
          <td>{{ez.raisonSocialAg}}</td>
          <td>{{ez.numTele}}</td>
          <td>{{ez.email}}</td>
          <td>{{ez.adresse}}</td>
          <td>{{ez.numCompteBkAgApp}}</td>
          <td>{{ez.ribAgenceApp}}</td>
          <td>{{ez.RCAgApp}}</td>
          <td>{{ez.username}}</td>
          <td>
            <button class="btn btn-outline-primary" (click)="getAppartemetsbyCin(ez.iceAgApp)">
              <i class="bi bi-house-door-fill"></i>
            </button>
          </td>
          <td>
            <div class="d-flex gap-2">
              <a class="btn btn-outline-danger" (click)="delete(ez.iceAgApp)">
                <i class="bi bi-trash"></i>
              </a>
              <app-edit-prop-appartement   [cinEnfante]="ez.iceAgApp"></app-edit-prop-appartement>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content custom-modal">
      <div class="modal-header bg-primary text-white">
        <h5 class="modal-title" id="exampleModalLabel">Ajouter un élément</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="p-3">
          <div class="card">
            <div class="card-body">
              <div class="col-md-6">
                <form>


                  <div class="col-12">
                    <label class="form-label">CIN</label>
                    <input class="form-control" [(ngModel)]="item.iceAgApp" [ngModelOptions]="{standalone: true}">
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Nom</label>
                    <input class="form-control" [(ngModel)]="item.raisonSocialAg" [ngModelOptions]="{standalone: true}">
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Prénom</label>
                    <input class="form-control" [(ngModel)]="item.numTele" [ngModelOptions]="{standalone: true}">
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Numéro de téléphone</label>
                    <input class="form-control" [(ngModel)]="item.email" [ngModelOptions]="{standalone: true}">
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Email</label>
                    <input class="form-control" type="email" [(ngModel)]="item.adresse" [ngModelOptions]="{standalone: true}">
                  </div>
                  <div class="mb-3">
                    <label class="form-label">RIB propriétaire</label>
                    <input class="form-control" [(ngModel)]="item.numCompteBkAgApp" [ngModelOptions]="{standalone: true}">
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Numéro de compte propriétaire</label>
                    <input class="form-control" [(ngModel)]="item.ribAgenceApp" [ngModelOptions]="{standalone: true}">
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Nom d'utilisateur</label>
                    <input class="form-control" [(ngModel)]="item.RCAgApp" [ngModelOptions]="{standalone: true}">
                  </div>
                  <div class="mb-3">
                    <label class="form-label">Mot de passe</label>
                    <input class="form-control" type="text" [(ngModel)]="item.username" [ngModelOptions]="{standalone: true}">
                  </div>
                  <div class="mb-3">
                  <label class="form-label">Mot de passe</label>
                  <input class="form-control" type="password" [(ngModel)]="item.password" [ngModelOptions]="{standalone: true}">
                </div>
                  <button class="btn btn-outline-danger" type="submit" (click)="save()">Save</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
