<div class="table-wrapper mt-10">
  <mat-card>
    <mat-card-header><mat-card-title> Appartements  </mat-card-title> </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <!-- mohammed -->
      <p-toolbar [ngStyle]="{'margin': '2rem'}" class="custom-toolbar" >
        <div class="p-toolbar-group-left">
          <p-button  type="button"  (click)="creatCategorie()" class="mx-2 " label="New" icon="pi pi-plus"></p-button>
          <p-button (click)="exportToPDF()" label="Exporte" icon="pi pi-file-export" styleClass="p-button-success"></p-button>
        </div>


        <div class="p-toolbar-group-right">
          <div class="container d-flex" >
            <input type="text" name="" placeholder="Search..." (input)="search($event)">
            <div class="search"></div>
          </div>
        </div>




        <div *ngIf="displaysucces">
          <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
            <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
              <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
            </symbol>
            <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
              <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
            </symbol>
            <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
              <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
            </symbol>
          </svg>

          <div class="alert alert-success d-flex align-items-center" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
            <div>
              L'appartement a été energestre
            </div>
          </div>

        </div>

        <!--        <div class="p-toolbar-group-right">-->

        <!--          <mat-form-field appearance="outline">-->
        <!--            <mat-label>Search</mat-label>-->
        <!--            <input matInput (input)="search($event)">-->
        <!--          </mat-form-field>-->
        <!--        </div>-->

      </p-toolbar>

      <table id="content" matSort mat-table [dataSource]="dataSource" class="mat-elevation-z1 ">

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="superficie">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>superficie</th>
          <td mat-cell *matCellDef="let element"> {{element.superficie}}</td>
        </ng-container>

        <ng-container matColumnDef="adresse">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>adresse</th>
          <td mat-cell *matCellDef="let element"> {{element.adresse}}</td>
        </ng-container>

        <ng-container matColumnDef="loyerMensuel">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>loyerMensuel</th>
          <td mat-cell *matCellDef="let element"> {{element.loyerMensuel}}</td>
        </ng-container>

        <ng-container matColumnDef="ville">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Ville</th>
          <td mat-cell *matCellDef="let element"> {{element.ville}}</td>
        </ng-container>

        <ng-container matColumnDef="wifi">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Wifi</th>
          <td mat-cell *matCellDef="let element"> {{element.wifi}}</td>
        </ng-container>

        <ng-container matColumnDef="nmbrPersont">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Nomber persent</th>
          <td mat-cell *matCellDef="let element"> {{element.nmbrPersont}}</td>
        </ng-container>

        <ng-container matColumnDef="climatiseur">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Climatiseur</th>
          <td mat-cell *matCellDef="let element"> {{element.climatiseur}}</td>
        </ng-container>


        <ng-container matColumnDef="ref">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>ref</th>
          <td mat-cell *matCellDef="let element"> {{element.reservationDto?.ref || ""}}
            <i *ngIf="!element.reservationDto?.ref" class="bi bi-x-lg"></i>
          </td>
        </ng-container>


        <ng-container matColumnDef="photo">
          <th mat-header-cell *matHeaderCellDef >photo</th>
          <td mat-cell *matCellDef="let element"><i class="bi bi-image" (click)="photoByCode(element)"></i></td>
        </ng-container>

        <ng-container matColumnDef="libelle">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>libelle</th>
          <td mat-cell *matCellDef="let element"> {{element.categoriesAppartementDto.libelle}}</td>
        </ng-container>


        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>action</th>
          <td mat-cell *matCellDef="let element">
            <a  (click)=editCategorie(element)><i class="bi bi-pencil mx-2 btn btn-outline-success rounded-5"></i></a>
            <a (click)="delete(element)"><i class="bi bi-trash mx-2 btn btn-outline-danger rounded-5"></i></a>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                     showFirstLastButtons
                     aria-label="Select page of periodic elements">
      </mat-paginator>

    </mat-card-content>
  </mat-card>

</div>

<p-dialog [maximizable]="true" [(visible)]="display" [style]="{width: '600px',height:'600px'}" header="Product Details" [modal]="true" styleClass="p-fluid">
  <div class="row">
    <div class="col-12">
      <label>superficier</label>
      <input class="form-control" type="number" pTooltip="Enter superficier" tooltipPosition="top" tooltipEvent="focus" [(ngModel)]="item.superficie" [value]="selectedAppartementItem.superficie">
    </div>
    <div class="col-12">
      <label>adresse</label>
      <input class="form-control" type="text" pTooltip="Enter adresse" tooltipPosition="top" tooltipEvent="focus" [(ngModel)]="item.adresse" [value]="selectedAppartementItem.adresse">
    </div>

    <div class="col-12">
      <label>loyer</label>
      <input class="form-control" type="number" pTooltip="Enter loyer" tooltipPosition="top" tooltipEvent="focus" [(ngModel)]="item.loyerMensuel" [value]="selectedAppartementItem.loyerMensuel">
    </div>

    <div class="col-12">
      <label>Ville</label>

      <select class="form-select form-select-lg " aria-label=".form-select-lg example"  [(ngModel)]="item.ville" [value]="selectedAppartementItem.ville">
        <option *ngFor="let option of villes" [value]="option">{{ option }}</option>
      </select>
    </div>
    <div class="col-12">
      <label>Wifi</label>
      <select class="form-select form-select-lg " aria-label=".form-select-lg example"  [(ngModel)]="item.wifi" [value]="selectedAppartementItem.wifi">
        <option *ngFor="let option of wifi" [value]="option">{{ option }}</option>
      </select>
    </div>
    <div class="col-12">
      <label>Nomber Persont</label>
      <input class="form-control" type="number" pTooltip="Enter Nomber de persont" tooltipPosition="top" tooltipEvent="focus" [(ngModel)]="item.nmbrPersont" [value]="selectedAppartementItem.nmbrPersont">
    </div>
    <div class="col-12">
      <label>Climatiseur</label>
      <select class="form-select form-select-lg " aria-label=".form-select-lg example"  [(ngModel)]="item.climatiseur"  [value]="selectedAppartementItem.climatiseur">
        <option *ngFor="let option of wifi" [value]="option">{{ option }}</option>
      </select>
    </div>

    <div class="col-12">

      <label>libelle</label>
      <!--      <input class="form-control" type="text" pTooltip="Enter libelle" tooltipPosition="top" tooltipEvent="focus" [(ngModel)]="item.categoriesAppartementDto.libelle" [value]="selectedAppartementItem.categoriesAppartementDto.libelle">-->
      <select class="form-select form-select-lg " aria-label=".form-select-lg example"  [(ngModel)]="item.categoriesAppartementDto.libelle" [value]="selectedAppartementItem.categoriesAppartementDto.libelle">
        <option *ngFor="let option of categorie" [value]="option.libelle">{{ option.libelle }}</option>
      </select>
    </div>

    <div class="col-12 mt-5" *ngIf="isCreate">
      <div class="dropzone" appDrag (files)="fileDropped($event)"   (click)="selectFile.click()">
        <div class="dropzone-text">
          <div class="center">Drag and drop your file or
            <a class="browser-button" (click)="selectFile.click()">browse</a> a file
          </div>
        </div>
      </div>
      <div>
        <input style="display: none" type="file" multiple value="select" #selectFile (change)="oneFileSelected($event)">
      </div>

      <mat-grid-list cols="6" rowHeight="1:1">
        <mat-grid-tile *ngFor="let file of appartemetService.item.images; let i=index;">
          <div style="position: relative" class="mt-5">
            <span class="btn-remove" (click)="removeImages(i)">x</span>
            <img [src]="file.url">
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </div>

    <!--    <div class="col-12">-->
    <!--      <label>Reservation</label>-->
    <!--      <input class="form-control" type="number" pTooltip="Enter ref reservation" tooltipPosition="top" tooltipEvent="focus" [(ngModel)]="item.reservationDto.ref" [value]="selectedAppartementItem.reservationDto.ref">-->
    <!--    </div>-->

    <!--    <div class="col-12">-->
    <!--      <label>cin</label>-->
    <!--      <input class="form-control" type="text" pTooltip="Enter cin" tooltipPosition="top" tooltipEvent="focus" [(ngModel)]="item.propAppartemenetDto.cin" [value]="selectedAppartementItem.code">-->
    <!--    </div>-->
  </div>




  <!--  <div class="field">-->
  <!--    <label >Inventory Status</label>-->
  <!--  </div>-->
  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()" ></button>
    <button *ngIf="isCreate" pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveObject()"></button>
    <button *ngIf="isEdit" pButton pRipple label="Update" icon="pi pi-check" class="p-button-text" (click)="updateObject()"></button>
  </ng-template>
</p-dialog>

<p-dialog  [maximizable]="true"  [(visible)]="displayImagesByCode" [style]="{width: '900px',height:'900px'}" header="Product Details" [modal]="true" styleClass="p-fluid">
  <p-carousel [value]="images" circular="true" autoplayInterval="3000" >
    <ng-template let-url pTemplate="item">
      <div class="border-1 surface-border border-round m-2 p-3">
        <img [src]="url" class="carousel-image" [alt]="url">
      </div>
    </ng-template>

    <div class="carousel-controls">
      <button pButton type="button" icon="pi pi-chevron-left" class="p-button-secondary p-button-rounded left-button" (click)="prevSlide()"></button>
      <button pButton type="button" icon="pi pi-chevron-right" class="p-button-secondary p-button-rounded right-button" (click)="nextSlide()"></button>
    </div>
  </p-carousel>
</p-dialog>

